

  .column {
    float: left;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .name{
    color:brown;
    font-size:x-large;
  }
  .id{
    color:chartreuse;
    font-size:x-large;
  }
  .tutorial{
    color:cyan;
    font-size:x-large;
  }